<ion-view view-title="About">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider bar bar-assertive">
                Microndes
            </div>
            <div class="item item-text-wrap">
                <p>Réalisé d'après une idée originale du Crou</p>
                <br>
                <p>Microndes est garantie sans pub, ni achat ou restriction de quelque
                    sorte que ce soit.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider bar bar-assertive">
                Code Source et License
            </div>
            <div class="item item-text-wrap">
                <p>Microndes a été réalisée grâce à Ionic Framework & Cordova.</p>
                <br>
                <!--
                <p>Le code source est diffusé sur Github sous la License MIT.</p>
                <div class="col">
                    <button class="button button-block button-energized">
                        https://github.com/Epsichaos/[nom du repo]
                    </button>
                </div>
                -->
            </div>
        </div>
        <!--
        <div class="list card">
            <div class="item item-text-wrap">
                <div class="row row-center">
                    <div class="col">
                        <button class="button button-block button-assertive" ng-click="deleteItem({{item.idTask}})">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    -->
    </ion-content>
</ion-view>
